# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print('Number of establishments:', count)

# Display the first document in the results using pprint
establishments.find_one(query)
pprint(establishments.find_one(query))

Number of establishments: 41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64c6d5578cd60f069f9808f5'),
 'geocode': {'latitude': Decimal128('50.769705'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [36]:
import pandas as pd

# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(establishments.find(query), columns=['BusinessName', 'BusinessType', 'scores'])

# Display the number of rows in the DataFrame
print('Rows in DataFrame: ', len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  41

,BusinessName,BusinessType,scores
0,The Chase Rest Home,Caring Premises,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
1,Brenalwood,Caring Premises,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI..."
2,Melrose Hotel,Hotel/bed & breakfast/guest house,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
3,Seaford Pizza,Takeaway/sandwich shop,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI..."
4,Golden Palace,Restaurant/Cafe/Canteen,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI..."
5,Ashby's Butchers,Retailers - other,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
6,South Sea Express Cuisine,Restaurant/Cafe/Canteen,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
7,Golden Palace,Takeaway/sandwich shop,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI..."
8,The Tulip Tree,Restaurant/Cafe/Canteen,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn..."
9,F & S,Retailers - other,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [11]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query2 = {'LocalAuthorityName': {'$regex': 'London'}, 'RatingValue': {'$gte': 4}}

# Use count_documents to display the number of documents in the result
count2 = establishments.count_documents(query2)

# Display the first document in the results using pprint
print(f'There are {count2} establishments with London as the Local Authority')
pprint(establishments.find_one(query2))

There are 33 establishments with London as the Local Authority
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64c6d5578cd60f069f982307'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [34]:
# Convert the result to a Pandas DataFrame
london_df = pd.DataFrame(establishments.find(query2), columns=['BusinessName', 'BusinessType', 'LocalAuthorityName', 'RatingValue'])

# Display the number of rows in the DataFrame
print('Rows in DataFrame: ', len(london_df))

# Display the first 10 rows of the DataFrame
london_df.head(10)

Rows in DataFrame:  33

,BusinessName,BusinessType,LocalAuthorityName,RatingValue
0,Charlie's,Other catering premises,City of London Corporation,4
1,Mv City Cruises Erasmus,Other catering premises,City of London Corporation,5
2,Benfleet Motor Yacht Club,Other catering premises,City of London Corporation,4
3,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,City of London Corporation,5
4,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,City of London Corporation,5
5,Mv Valulla,Other catering premises,City of London Corporation,5
6,Tereza Joanne,Other catering premises,City of London Corporation,5
7,Brick Lane Brews,Restaurant/Cafe/Canteen,City of London Corporation,4
8,The Nuance Group (UK) Limited,Retailers - other,City of London Corporation,5
9,WH Smith,Retailers - other,City of London Corporation,5

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [32]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# Establish variables for calculation
degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

# Set parameters for query 
query3 = {'RatingValue': {'$eq': 5}, 'geocode.latitude': {'$gte': latitude + degree_search}, 
          'geocode.longitude': {'$lte': longitude + degree_search}, 'geocode.latitude': {'$gte': latitude - degree_search},
          'geocode.longitude': {'$lte': longitude - degree_search}}
sort =  [('scores.Hygiene', 1)]
limit = 5

# Print the results
print(list(establishments.find(query).sort(sort).limit(limit)))

[{'_id': ObjectId('64c6d5578cd60f069f980f7c'), 'FHRSID': 730933, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '1698/FOOD', 'BusinessName': 'Melrose Hotel', 'BusinessType': 'Hotel/bed & breakfast/guest house', 'BusinessTypeID': 7842, 'AddressLine1': '53 Marine Parade East', 'AddressLine2': 'Clacton On Sea', 'AddressLine3': 'Essex', 'AddressLine4': '', 'PostCode': 'CO15 6AD', 'Phone': '', 'RatingValue': 0, 'RatingKey': 'fhrs_0_en-gb', 'RatingDate': '2021-08-13T00:00:00', 'LocalAuthorityCode': '120', 'LocalAuthorityName': 'Tendring', 'LocalAuthorityWebSite': 'http://www.tendringdc.gov.uk/', 'LocalAuthorityEmailAddress': 'fhsadmin@tendringdc.gov.uk', 'scores': {'Hygiene': 20, 'Structural': 20, 'ConfidenceInManagement': 20}, 'SchemeType': 'FHRS', 'geocode': {'longitude': Decimal128('1.15927'), 'latitude': Decimal128('51.789429')}, 'RightToReply': '', 'Distance': 4619.6561440278165, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/730933'}]}, {'_id': ObjectId('64c6d5578cd60f069f981175'), 'FHRSID': 172953, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000024532', 'BusinessName': 'Golden Palace', 'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1, 'AddressLine1': '5 South Street', 'AddressLine2': 'Seaford', 'AddressLine3': 'East Sussex', 'AddressLine4': '', 'PostCode': 'BN25 1HP', 'Phone': '', 'RatingValue': 1, 'RatingKey': 'fhrs_1_en-gb', 'RatingDate': '2021-10-07T00:00:00', 'LocalAuthorityCode': '105', 'LocalAuthorityName': 'Lewes', 'LocalAuthorityWebSite': 'http://www.lewes-eastbourne.gov.uk/', 'LocalAuthorityEmailAddress': 'ehealth.ldc@lewes-eastbourne.gov.uk', 'scores': {'Hygiene': 20, 'Structural': 10, 'ConfidenceInManagement': 20}, 'SchemeType': 'FHRS', 'geocode': {'longitude': Decimal128('0.101446'), 'latitude': Decimal128('50.770724')}, 'RightToReply': '', 'Distance': 4620.437179097401, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/172953'}]}, {'_id': ObjectId('64c6d5578cd60f069f9808f5'), 'FHRSID': 110681, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '4029', 'BusinessName': 'The Chase Rest Home', 'BusinessType': 'Caring Premises', 'BusinessTypeID': 5, 'AddressLine1': '5-6 Southfields Road', 'AddressLine2': 'Eastbourne', 'AddressLine3': 'East Sussex', 'AddressLine4': '', 'PostCode': 'BN21 1BU', 'Phone': '', 'RatingValue': 0, 'RatingKey': 'fhrs_0_en-gb', 'RatingDate': '2021-09-23T00:00:00', 'LocalAuthorityCode': '102', 'LocalAuthorityName': 'Eastbourne', 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings', 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk', 'scores': {'Hygiene': 20, 'Structural': 20, 'ConfidenceInManagement': 20}, 'SchemeType': 'FHRS', 'geocode': {'longitude': Decimal128('0.27694'), 'latitude': Decimal128('50.769705')}, 'RightToReply': '', 'Distance': 4613.888288172291, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/110681'}]}, {'_id': ObjectId('64c6d5578cd60f069f980c6d'), 'FHRSID': 612039, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '1970/FOOD', 'BusinessName': 'Brenalwood', 'BusinessType': 'Caring Premises', 'BusinessTypeID': 5, 'AddressLine1': 'Hall Lane', 'AddressLine2': 'Walton-on-the-Naze', 'AddressLine3': 'Essex', 'AddressLine4': '', 'PostCode': 'CO14 8HN', 'Phone': '', 'RatingValue': 0, 'RatingKey': 'fhrs_0_en-gb', 'RatingDate': '2022-06-22T00:00:00', 'LocalAuthorityCode': '120', 'LocalAuthorityName': 'Tendring', 'LocalAuthorityWebSite': 'http://www.tendringdc.gov.uk/', 'LocalAuthorityEmailAddress': 'fhsadmin@tendringdc.gov.uk', 'scores': {'Hygiene': 20, 'Structural': 15, 'ConfidenceInManagement': 30}, 'SchemeType': 'FHRS', 'geocode': {'longitude': Decimal128('1.278721'), 'latitude': Decimal128('51.857536')}, 'RightToReply': '', 'Distance': 4617.965823673803, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/612039'}]}, {'_id': ObjectId('64c6d5578cd60f069f98116a'), 'FHRSID': 172735, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': 'PI/000023858', 'BusinessName': 'Seaford Pizza', 'BusinessType': 'Takeaway/sandwich shop', 'BusinessTypeID': 7844, 'AddressLine1': '4 High Street', 'AddressLine2': 'Seaford', 'AddressLine3': 'East Sussex', 'AddressLine4': '', 'PostCode': 'BN25 1PG', 'Phone': '', 'RatingValue': 1, 'RatingKey': 'fhrs_1_en-gb', 'RatingDate': '2021-12-23T00:00:00', 'LocalAuthorityCode': '105', 'LocalAuthorityName': 'Lewes', 'LocalAuthorityWebSite': 'http://www.lewes-eastbourne.gov.uk/', 'LocalAuthorityEmailAddress': 'ehealth.ldc@lewes-eastbourne.gov.uk', 'scores': {'Hygiene': 20, 'Structural': 10, 'ConfidenceInManagement': 20}, 'SchemeType': 'FHRS', 'geocode': {'longitude': Decimal128('0.10202'), 'latitude': Decimal128('50.770885')}, 'RightToReply': '', 'Distance': 4620.421724673841, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'https://api.ratings.food.gov.uk/establishments/172735'}]}]

In [33]:
# Convert result to Pandas DataFrame
top5_df = pd.DataFrame(list(establishments.find(query).sort(sort).limit(limit)), columns=['BusinessName', 'scores', 'RatingValue', 'geocode'])
top5_df.head()

,BusinessName,scores,RatingValue,geocode
0,Melrose Hotel,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",0,"{'longitude': 1.15927, 'latitude': 51.789429}"
1,Golden Palace,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",1,"{'longitude': 0.101446, 'latitude': 50.770724}"
2,The Chase Rest Home,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",0,"{'longitude': 0.27694, 'latitude': 50.769705}"
3,Brenalwood,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",0,"{'longitude': 1.278721, 'latitude': 51.857536}"
4,Seaford Pizza,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",1,"{'longitude': 0.10202, 'latitude': 50.770885}"

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [50]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': {'$eq': 0}}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1}}

# Put pipeline together
pipeline = [match_query, group_query, sort_values]

# Run pipeline through aggregate method
hygiene_results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(len(hygiene_results))

# Print the first 10 results
pprint(hygiene_results[0:10])

55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [52]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.DataFrame(hygiene_results)

# Display the number of rows in the DataFrame
print(len(hygiene_df))

# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542